/PdfPractice_SourceCode/PdfTesterWeb/bin
/PdfPractice_SourceCode/MyPdfHelper/bin
/PdfPractice_SourceCode/PdfTesterConsole/bin
/EmailPrac/EmailPrac/bin
/PdfPractice_SourceCode/PdfTesterWeb/obj
/PdfPractice_SourceCode/MyPdfHelper/obj
/PdfPractice_SourceCode/PdfTesterConsole/obj
/EmailPrac/EmailPrac/obj
/PdfPractice_SourceCode/packages
